.body {
  background-color: #f4f4f4;
  display: flex;
  font-family: "Courier New", Courier, monospace;
  justify-content: center;
  align-items: center;
  height: 110vh;
  margin: 0;
}
.black {
  color: black;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.main ul {
  display: flex;
  gap: 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  font-weight: bold;
}
.main li a {
  padding: 10px 10px;
  transition: ease-in all 0.1s;
}
.main li a:hover {
  background-color: purple;
  color: white;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
#search {
  font-size: 20px;
}
.hr {
  padding-top: 3px;
  background-color: purple;
  margin-top: none;
}

#menu {
  vertical-align: middle;
  font-size: 30px;
  cursor: pointer;
}

.hero-img {
  vertical-align: middle;
  width: 40px;
  margin-left: 20px;
  margin-right: 15px;
}

.ins {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: left;
  margin-left: 8px;
  margin-bottom: 10px;
  color: rgb(193, 192, 192);
  width: 380px;
}

.product {
  vertical-align: middle;
  border: none;
  border-radius: 15px;
  background-color: white;
}

.product:hover {
  background-color: rgb(156, 149, 149);
}

.search {
  vertical-align: middle;
  padding-right: 40px;
  margin-left: 330px;
  background-color: white;
  border: none;
  cursor: pointer;
  flex: 1;
}

.search:active {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  color: purple;
  border: 1px solid purple;
  border-radius: 10px;
}

.search2 {
  width: 25px;
}
.container {
  background-color: #fff;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: purple;
  font-weight: bold;
  text-align: left;
}

.form {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin: 5px;
  font-weight: bold;
  color: purple;
}

input {
  width: 500px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 9px;
  border: 1px solid purple;
  background-color: purple;
}

.instruct {
  color: rgb(213, 212, 212);
  margin-top: 5px;
  font-size: 13px;
  margin-left: 5px;
  font-family: Arial;
}

.logo {
  margin-top: 3px;
  background-color: black;
  border: 1px solid rgb(173, 168, 168);
  padding: 10px 0;
  width: 310px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.logo:active {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
#image {
  font-size: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

.go {
  margin-top: 19px;
  background-color: white;
  color: grey;
  margin-bottom: 8px;
  cursor: pointer;
}

.go:active {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.go:hover {
  background-color: rgb(206, 252, 89);
}

.google {
  width: 25px;
  vertical-align: middle;
  margin-right: 10px;
}
.submit {
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.15, background-color 0.15, box-shadow 0.15;
}

.submit:hover {
  color: blue;
  background-color: aqua;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.submit:active {
  color: pink;
  background-color: black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.hero {
  background-color: #f4f4f4;
  text-align: center;
}

.login {
  color: blue;
}

.login:active {
  color: purple;
}

.account {
  margin: 0 0 10px 0;
}
.img2 {
  vertical-align: middle;
  width: 60px;
  margin-top: 5px;
  padding-bottom: 2px;
}

.model {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  color: purple;
  font-weight: bold;
  margin-left: -870px;
}

.p {
  margin-bottom: 20px;
  font-family: "Courier New", Courier, monospace;
  vertical-align: middle;
}
#share {
  font-size: 30px;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 50px;
}

.last {
  align-items: left;
  margin-top: 15px;
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  margin-bottom: 20px;
}
.save {
  margin: 20px 0;
}
#save {
  font-size: 30px;
  vertical-align: middle;
  margin-left: 50px;
  margin-right: 10px;
}

#cup {
  vertical-align: middle;
  font-size: 30px;
  margin-left: 50px;
  margin-right: 10px;
}
